In [11]:
import pandas as pd
from pathlib import Path
import json

In [8]:
root = Path('****')
df = pd.read_csv(root / '*****.csv', nrows = 1000)

In [18]:
df.head()

          area region                                  device_home_areas
0  10210601014     AL  {"010210604013":232,"010210601025":231,"010210...
1  10950303005     AL  {"010950303005":133,"010950303004":54,"0109503...
2  11010055032     AL  {"011010055033":276,"011010056071":198,"011010...
3  51190034021     AR  {"051190034021":155,"051190034032":60,"0511900...
4  60250115004     CA  {"060250115004":50,"060250110005":34,"06025011...

In [27]:

df = df[['area', 'region', 'device_home_areas']]
df_copy = df.copy()
df = df.copy()
nyc_county_fips = ['36005', '36047', '36061', '36081', '36085']
for index, row in df_copy.iterrows():
    device_count = 0
    my_json = json.loads(row['device_home_areas'])
    for key in my_json.keys():
        if (key[0:5] in nyc_county_fips):
            device_count = device_count + int(my_json[key])
    df.loc[df['area'] == row['area'], 'visitors_from_nyc'] = device_count
df = df.loc[df['visitors_from_nyc'] > 0]
print(df.head())

            area region                                  device_home_areas  \
0    10210601014     AL  {"010210604013":232,"010210601025":231,"010210...
9    60590320463     CA  {"060590320463":204,"060590320462":30,"0605903...
15   60670071011     CA  {"060670071011":235,"060610213222":165,"060610...
22  120070004002     FL  {"120070004002":147,"120070004003":91,"1200700...
24  120570102095     FL  {"120570102095":99,"120570102092":44,"12057010...

    visitors_from_nyc
0                 4.0
9                 4.0
15               16.0
22                4.0
24                4.0

In [3]:
df = pd.read_csv('//CHGOLDFS/Operations/PM_Team/Active/Coronavirus Response/SafeGraph/neighborhood_patterns/patterns/2021/05/04/y=2021/m=4/visitors_from_nyc_to_cbg.csv')
df2 = df.loc[df['visitors_from_nyc'] > 0.01]
df3 = df2.groupby('region')['visitors_from_nyc'].sum()
print(df3.head)

<bound method NDFrame.head of region
AK         71.0
AL       1612.0
AR       1170.0
AZ       3147.0
CA      12696.0
CO       2323.0
CT      25535.0
DC       3467.0
DE       3479.0
FL      76345.0
GA       9804.0
HI       1088.0
IA        937.0
ID        401.0
IL       6288.0
IN       3844.0
KS        701.0
KY       2019.0
LA       3239.0
MA      12912.0
MD      11492.0
ME       1090.0
MI       2412.0
MN        913.0
MO       2233.0
MS        797.0
MT        389.0
NC      11295.0
ND        185.0
NE        778.0
NH       1336.0
NJ     210950.0
NM       1015.0
NV       3032.0
NY    4216343.0
OH       8121.0
OK       1281.0
OR        748.0
PA      48886.0
PR        600.0
RI       2464.0
SC       7286.0
SD        135.0
TN       3916.0
TX      10820.0
UT       1631.0
VA      14475.0
VI         42.0
VT       1259.0
WA       1191.0
WI       1438.0
WV       1825.0
WY        641.0
Name: visitors_from_nyc, dtype: float64>

In [16]:
df3.to_csv('//CHGOLDFS/Operations/PM_Team/Active/Coronavirus Response/SafeGraph/neighborhood_patterns/patterns/2021/05/04/y=2021/m=4/visitors_from_nyc_to_state2.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220654 entries, 0 to 220653
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            220654 non-null  int64
 1   area                  220654 non-null  int64
 2   device_daytime_areas  220654 non-null  object
 3   region                220654 non-null  object
 4   visitors_from_nyc     220654 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 8.4+ MB